{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	Welcome
{% endblock %}

{% block content %}
	<main class="homepage">
		<div class="searching container-fluid">
			<form class="form-inline col-3" action="/recherche/" method="get">
				<fieldset>
					<div class="input-group">
						<input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" required="required">
						<div class="input-group-append">
							<a class="btn" href="#">Recherche</a>
						</div>
					</div>
				</fieldset>
			</form>
			<h1 class="col-5">Le peer du pire
			</h1>
			<p class="col-3">Partage tes pires expériences</p>
		</div>

		<div class="category">
			{% for category in categories %}
				<button type="button" class="btn p-3">{{category.name}}</button>
			{% endfor %}
		</div>

		<div class="wrapper">
			{% for item in items %}
				{% include "/Include/_card.html.twig" %}


			{% endfor %}
		</div>
		<h2>Vous avez touché le fond</h2>

	</main>
{% endblock %}

{% block javascript %}
	<script src="/assets/scripts/home.js"></script>
{% endblock %}
