{% extends 'layout.html.twig' %}

{% block content %}

	<h1>{{item.name}}</h1>

	<div class="container">
		<div class="itemCard card text-center mb-3">
			<img src="/uploads/{{item.image}}" class="itemImg d-block mx-auto my-2 rounded" alt="image">

			<p class="card-text">{{item.description}}</p>

			<div class="ab_button text-center">
				<a href="/" type="button" class="btn btn-primary btn-lg my-3">
					Accueil</a>
			</div>
		</div>
	</div>

{% endblock %}
