{% extends 'layout.html.twig' %}

{% block content %}

	<h2>Votre déception a bien été prise en compte !</h2>

	<p class="text-center fst-italic mt-4">Merci d'avoir partagé votre mauvaise expérience.</p>
	<img src="/assets/images/vinyle-demi-decoupe.png" class="w-25 d-block mx-auto" alt="image">

	<div class="ab_button">

		<a href="/" type="button" class="btn btn-primary btn-lg">
			Revenir à l'accueil</a>
	</div>

{% endblock %}
