{% extends 'layout.html.twig' %}

{% block content %}

	<h1>Votre déception a bien été prise en compte !</h1>

	<p class="text-center fst-italic mt-4">Merci d'avoir partagé votre mauvaise expérience.</p>
	<img src="https://images.pexels.com/photos/2923156/pexels-photo-2923156.jpeg?auto=compress&cs=tinysrgb&w=1600" class="imgValidation d-block mx-auto" alt="deception">

	<div class="ab_button text-center">

		<a href="/" type="button" class="btn btn-lg my-3">
			Revenir à l'accueil</a>
	</div>

{% endblock %}
