* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    background-color: var(--color-lightyellow);
    min-height: 100vh;
}

h1 {
    color: var(--background-color-beaver);
    margin-top: 2rem;
    text-align: center;
}

.partage {
    color: var(--background-color-beaver);
}

.btn {
    background-color: var(--color-khaki);
    color: var(--color-lightyellow);
}

.itemCard {
    width: 50rem;
}

.itemImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-category {
    font-style: italic;
}