* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main {
    height: 100%;
}

body {
    background-color: var(--color-lightyellow);
}

h1 {
    text-align: center;
}