#oSaisie {
    background-color: var(--background-color-lightyellow);
}

.homepage .container-fluid {
    display: inline-flex;
    text-align: center;
    align-items: baseline;
    margin: 2rem 0;
    max-width: 100vw;
}

.category {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    overflow: auto;
}

.category .btn {

    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.card {
    margin: auto auto;
    width: 90%;
    border: 1px solid var(--background-color-khaki);
}

.card .counter {
    margin: 0 .5rem;
}

.card .unicorn,
.card .poop {
    width: 2rem;
    text-decoration: none;
    pointer-events: none;
}



.homepage h2 {
    text-align: center;
    margin: 2rem auto;
}

.card .count {
    display: inline-flex;
    border: 1px solid var(--background-color-khaki);
    border-radius: 2px;
}

.card-body {
    background-color: var(--background-color-linen);
}