:root {
    --background-color-beaver: #9F7E69;
    --background-color-khaki: #d2bba0;
    --background-color-palespring: #f2efc7;
    --background-color-lightyellow: #f7ffe0;
    --background-color-linen: #ffeee2;


    --color-beaver: #9F7E69;
    --color-khaki: #d2bba0;
    --color-palespring: #f2efc7;
    --color-lightyellow: #f7ffe0;
    --color-linen: #ffeee2;
}
