<div class="card">
	<img class="card-img-top" src="/uploads/dog.webp" alt="Card image cap">

	<div class="card-body">
		<h5 class="card-title">Card
			{{ loop.index }}</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<div class="count">
			<a href="#"><img class="unicorn" src="/assets/images/unicorn.png"></a>
			<p class="counter">1423</p>
			<a href="#"><img class="unicorn" src="/assets/images/favicon.png"></a>
		</div>
	</div>
</div>
